html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #232526);
}

h1 {
    letter-spacing: 20px;
    font-size: 50px;
    background: -webkit-linear-gradient(#434343, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.Header {
   text-align: left;
   margin-bottom: 10%;
}

div.search {
   text-align: center;
  }

input {
    background: transparent;
    border-radius: 20px;
    border-color: #414345;
    width: 1200px;
    height: 50px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    font-size: 30px;
    letter-spacing: 5px;
    display: block;
}

.Search {
    text-align: center;
}

label {
diplay: block;
margin-bottom: 40px;
color: whitesmoke;
text-shadow: 2px 2px black;
text-align: center;
font-size: 40px;
}

form {
text-align: center;
}

.crazy {
    color: white;
    font-size: 100px;
}